<?xml version="1.0"?>
<appSettings>

  <!-- Keys for LUIS Ada-->
  <add key="ModelId" value=""/>
  <add key="SubscriptionKey" value=""/>

  <!-- Keys for BotFramework -->
  <add key="BotId" value="" />
  <add key="MicrosoftAppId" value="" />
  <add key="MicrosoftAppPassword" value="" />

</appSettings>